{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "arrow-body-style": [2, "as-needed"],
    "comma-dangle": [2, "always-multiline"],
    "curly": 2,
    "indent": [2, 2],
    "prefer-const": 2,
    "prefer-template": 2,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0
  }
}