.card-container {
  display: flex;
  align-items: center;
  width: 400px;
  margin: 10px;
  box-shadow: 5px 5px 45px -2px #000b;
}

.card-image {
  max-width: 128px;
  width: 100%;
  height: fit-content;
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.card-text {
  color: #444;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 3px;
}

.card-buttons {
  margin-bottom: 10px;
}

.button {
  border-radius: 5px;
}

.current-shelf {
  border-radius: 5px;
  background-color: crimson;
  color: white;
  text-decoration: line-through;
}
